body {
    background-image: url(img/background.jpg);
}

p {
  padding: 10px;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
}
@media screen and (max-width: 990px) {
    img {
        display: none;
    }
}
@media screen and (min-width: 990px) {
    .navbar-collapse {
        display: flex;
        justify-content: flex-end;
    }
       
}

.navbar {
  border-bottom: 3px black solid;
}
header a {
    display: inline-block;
    margin: .2rem;
    border-radius: 10px;
}
header a:hover {
  background-color: rgba(45, 243, 243, 0.589);
}
.border {
    width: 50%;
    margin: auto;
    background-color: aliceblue;
    border: 10px solid black;
}

.border h1 {
    text-align: center;
    font-size: 1rem;
}

main div {
    margin-top: 20px;
}
.myImg {
    border-radius: 5px;
    transition: 0.3s;
}
.card:hover {
    position: relative;
    bottom: 3px;
    cursor: pointer;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.42);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

/* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }